@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Aksahykale<br />
    CDAC, JUHU<br />
    <abbr title="Email">P:</abbr>
    kaleakshay1997@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ak.com">Support@ak.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ak.com">Marketing@ak.com</a>
</address>