
@{
    ViewBag.Title = "Index";
}
@ViewBag.title
@ViewData["msg"]
<br>
<br>
<br>
<h2>Home Page</h2>
<div class="col-lg-11 bg-primary text-light h2 glyphicon-text-height" style="height:30px">
    Welcome @Session["user"]!
</div>
<br/>
<br />

